<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de afazeres</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Lista de afazeres</h2>
                <hr>
            </div>
            <div class="col-sm-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Meus "to-dos"</h4>
                        </div>
                        {% for t in todos %}
                            <div class="col-sm-4">
                                <div class="alert alert-info" style="text-align:center">
                                    <h4> {{ t.title }} </h4>
                                    <p> {{ t.description }} </p>
                                    <hr>
                                    <form action="/todos/{{t.id}}" method="get">
                                        <input type="submit" class="btn btn-warning" style="width:100%" value="editar">
                                    </form>
                                    <br>
                                    <form action="/todos/{{t.id}}/delete" method="post">
                                        <input type="submit" class="btn btn-danger" style="width:100%" value="deletar">
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                {% if todo == None %}
                    <h4>Criar "to-do"</h4>
                {% else %}
                    <h4>Editar "to-do"</h4>
                {% endif %}
                {% if todo == None %}
                <form action="/todos" method="POST">
                {% else %}
                <form action="/todos/{{todo.id}}/update" method="POST">
                {% endif %}
                    <div class="form-group">
                        <label for="titulo">
                            <b>Titulo</b>
                        </label>
                        {% if todo == None %}
                        <input type="text" class="form-control" name="titulo" value="" id="titulo" required>
                        {% else %}
                        <input type="text" class="form-control" name="titulo" value="{{todo.title}}" id="titulo" required>
                        {% endif %} 
                    </div>
                    <div class="form-group">
                        <label for="descricacao">
                            <b>Descrição</b>
                        </label>
                        {% if todo == None %}
                        <textarea class="form-control" name="descricao" id="descricao" required></textarea>
                        {% else %}
                        <textarea class="form-control" name="descricao" id="descricao" required>{{todo.description}}</textarea>
                        {% endif %}                       
                    </div>
                    <div class="form-group">
                        {% if todo == None %}
                            <input type="submit" value="criar!" class="btn btn-success">
                        {% else %}
                            <input type="submit" value="salvar!" class="btn btn-warning">
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</html>