<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File server</title>
</head>
<body>
    <h2>Exemplo de um file server em Flask com <i>templates</i></h2>
    <hr>
    <pre>
    {% for file, filesize in files %}
        <a href="files/{{ file }}"> {{ file }} </a>     [ {{ filesize }} bytes ]
    {% endfor %}
    </pre>
</body>
</html>
